# Flutter/Dart related files
*.dart_tool/
*.flutter-plugins
*.flutter-plugins-dependencies
*.packages
*.pub-cache/
*.pub/

# Build output
build/
*.apk
*.ipa

# IntelliJ IDE files
*.idea/
*.iml

# VS Code files
.vscode/

# macOS files
.DS_Store

# Windows files
Thumbs.db

# Logs
*.log

# Temporary files
*.tmp
*.swp

# Node.js dependencies
node_modules/

# Environment files
.env
.env.*
serviceAccountKey.json